html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.container {
  max-width: 600px;
  max-height: 400px;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 60%;
  border: 1px solid black;
  border-radius: 10px;
  background-color: aliceblue;
}

.title {
  display: flex;
  justify-content: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  padding: 10px;
  border: 1px solid black;
  background-color: white;
  text-align: center;
}

.btn {
  padding: 10px;
  border: 1px solid black;
  background-color: aqua;
  transition: background-color 0.4s;
  cursor: pointer;
}

button:hover {
  background-color: aquamarine;
}

.input__button {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.result {
  position: absolute;
  bottom: 25%;
  font-size: 1.6em;
}

.next__page {
  position: absolute;
  left: 5%;
  bottom: 10%;
  text-decoration: none;
  color: black;
  transition-duration: 0.1s;
  transition-delay: 0.2s;
}

.next__page:hover {
  color: blue;
}