html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

ul {
  list-style: none;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 140px;
}

.line {
  background-color: black;
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.result {
  padding-top: 42px;
  position: absolute;
}